.header-img{
    width: 70%;
    height: 399px;
}
.nav-bck{
   background-color: rgba(11, 10, 66, 0.945); 
   
}
.navbar-brand{
    color:wheat;
}
.overlay{
   background-color: rgba(253, 253, 253, 0.747);
   position: absolute;
   top: 334px;
}
.form-group{
    line-height: 10px;
}
.card{
    margin-top: 5px;
    margin-bottom: 10px;
}
.table{
    margin-bottom:0;
}
.main-btn-color{
    color: wheat;
    background-color: rgba(11, 10, 66, 0.945); 
}
.card-header{
    background-color: rgba(11, 10, 66, 0.945);
    color: wheat
}